[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scipy = "*"
pylint = "*"
autopep8 = "*"
flake8 = "*"
numpy = "*"
matplotlib = "*"
sklearn = "*"
chaospy = "*"

[requires]
python_version = "3.7"
